<link type="text/css" rel="stylesheet" href="/static/main.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">

<div class="header">
    <a class="back" href="javascript:history.back()"><i class="fas fa-angle-left"></i> Back</a>
    <a href="/"><i class="fas fa-home"></i></a>

    <h1>Add a game<h1>
</div>
<div class="content">
<form action="" method="post" name="form">
    <div class="formItem">
        <label for="name">Name: </label>
        <input type="text" name="name" id="name" required/>
    </div>

    <div class="formItem">
        <label for="genre">Genre: </label>
        <input type="text" name="genre" id="genre" required/>
    </div>

    <div class="formItem">
        <label for="year">Year: </label>
        <input type="text" name="year" id="year" required/>
    </div>
    
    <div class="formItem">
        <label for="platform">Platform: </label>
        <input type="text" name="platform" id="platform" required/>
    </div>

    <div class="formItem">
        <label for="developer">Developer: </label>
        <input type="text" name="developer" id="developer" required/>
    </div>

    <div class="formItem">
        <label for="publisher">Publisher: </label>
        <input type="text" name="publisher" id="publisher" required/>
    </div>

    <div class="formItem">
        <label for="series">Series: </label>
        <input type="text" name="series" id="series" required/>
    </div>
    
    <div class="formItem">
        <label for="boxart">Boxart: </label>
        <input type="text" name="boxart" id="boxart" required/>
    </div>
    <input type="submit" name="submit" id="submit"/>
</form>
</div>
