<link rel="stylesheet" type="text/css" href="/static/main.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">

<div class = "header">    
    <a title="Back" class="whitebutton" href="javascript:history.back()"><i class="fas fa-angle-left"></i></a>
    <a title="Home" class="whitebutton" href="/"><i class="fas fa-home"></i></a>
    <a title="Add a game"class="whitebutton" href="/addgame"><i class="fas fa-plus"></i></a>
    <h1>{{ game.name }}</h1>
</div>
<div class="content">
  <div class="details">
      <div class="imgwrapper"><img src="{{ game.boxart }}"/></div>
      <div class="info">
          <p>Name: {{ game.name }}</p>
          <p>Genre: <a href="/genre/{{game.genre}}">{{ game.genre }}</a></p>
          <p>Year: <a href="/year/{{game.year}}">{{ game.year }}</a></p>
          <p>Platform: <a href="/platform/{{game.platform}}">{{ game.platform }}</a></p>
          <p>Developer: <a href="/developer/{{game.developer}}">{{ game.developer }}</a></p>
          <p>Publisher: <a href="/publisher/{{game.publisher}}">{{ game.publisher }}</a></p>
          <p>Series: <a href="/series/{{game.series}}">{{ game.series }}</a></p>
      </div>
  </div>
</div>
