body{
  margin: 0;
  font-family: Nunito, sans-serif;
  text-align: center;
  background-color: #212121;
  color: lightgrey;
}

.header{
  width: 100%;
  height: 20vh;
  display: flex !important;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  background-color: red;
  color: white;
  margin: 0;
}

a{
  width: 25%;
  max-width: 300px;
  background-color: #333333;
  color: lightgrey;
  border-radius: 50px;
  padding: 10px;
  text-decoration: none;
  margin: 3vh;
  transition: 0.1s ease-in-out all;
}

a:hover{
  background-color: lightgrey;
  color: #333333;
  transform: scale(1.08);
}

img{
  width: 25%;
  max-width: 300px;
}

h1{
  margin-bottom: 0;
}

p{
  margin-top: 0;
  margin-bottom: 3vh;
}

.content{
  display: flex;
  flex-direction: column;
  align-items: center;
}
